#top {
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}
header {
  font-size: 2rem;
  margin-left: 25%;
  width: 50%;
}

nav {
  &.global {
    border-bottom: 0.1em solid $color-primary;
    margin: 0;
    padding-top: 0;

    ul {
      display: inline-block;
      line-height: 1;
      margin: 0;
      width: 100%;
    }
    li {
      display: inline-block;
      margin: 0.5rem 3rem;
      position: relative;
      width: 10%;
    }
  }
}
#body {
  margin: 0.5rem;
  padding: 0.25rem;
  width: 100%;
}

