.hidden {
  height: 1px;
  left: -10000px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: auto;
  width: 1px;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
}

h2 {
  font-size: 1.3rem;
  margin: 1rem 0.5rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
}

p {
  line-height: 1.55;
  margin: 1rem 0;
}
